.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#btn-front-page {
  background-color: #a8c7f7;
  border: none;
  color: black;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#task-table {
  font-family: calibri, arial;
  border-collapse: collapse;
  width: 100%;
}

#task-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid black;   
}

#task-table tr:nth-child(odd){background-color: #a8c7f7;}

#task-table tr:nth-child(even){background-color: #dbf7ff;}

body {
  font-family: "Lato", sans-serif;
  margin: 8px 6px 52px 6px;
  background-color: #e0e2e4;
  overflow-y: scroll;
}

main {
  padding: 5px;
  margin: 8px 6px 8px 6px;
  width: 80%;
}

main>h1,
p,
.browser {
  margin: 10px;
  padding: 20px;
}


.browser>h2,
p {
  margin: 4px;
  font-size: 90%;
}

#p-wrap {
   white-space: pre-line;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
    
.overlay {
  position: fixed;
  z-index: 1; /* makes on top */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 65%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #a8c7f7;
}
.popup .content {
  max-height: 65%;
  overflow: auto;
}
.active-btn {
  background-color: white;
  text-decoration: none;
  color:#1976d2;
}

.inactive-btn {
  color: inherit;
  text-decoration: none;
}